#section-accordion {
    background-color: #f8f9fa; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); 
}

#custom-accordion .card {
    border: none; 
    background: none; 
}

#custom-accordion .card-header {
    background-color: #2AC787;
    border-radius: 5px; 
    padding: 10px 15px; 
    margin-bottom: 5px; 
    transition: background-color 0.3s ease;
    color: #ffffff; 
}

#custom-accordion .card-header:hover {
    background-color: #24996b; 
}

#custom-accordion .card-body {
    background-color: #ffffff; 
    padding: 15px; 
    border: 1px solid #dee2e6; 
    border-radius: 5px; 
}

#custom-accordion h6 {
    font-size: 1rem; 
    color: #495057; 
}

#custom-accordion .fa-chevron-down {
    float: right; 
    color: #ffffff; 
}

#custom-accordion .collapse.show .fa-chevron-down {
transform: rotate(180deg); 
}