body {
    font-family: 'Open Sans', sans-serif; 
}

 .navbar-logo {
    width: 40px;
    height: auto;
    margin-right: 10px;
}

header .navbar {
    background-color: #fff9e1; 
}

header .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

 .navbar-brand {
    font-size: 26px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #41d46d;
}

header .navbar-nav .nav-link {
    color: rgb(3, 3, 3);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin-right: 20px;
    transition: background-color 0.3s, border-radius 0.8s; 
}

header .navbar-nav .nav-item .nav-link:hover {
    background-color: #41d46d;
    color: #ffffff;
    transition: border-radius 0.5s ease-in;
}

header .navbar .dropdown-menu {
    background-color: #fff9e1;
}

header .dropdown-menu .dropdown-item:hover {
    background-color: #41d46d;
    color: white;
}
.list-inline .list-link {
    color: rgb(3, 3, 3); /* Cambia el color del texto de los enlaces */
    font-family: 'Poppings', sans-serif;
    font-size: 18px;
    margin-right: 20px; 
    transition: background-color 0.3s, border-radius 0.8s; 
    text-decoration: none;
}

.list-inline .list-link:hover {
    color: #41d46d; /* Cambia el color del texto de los enlaces */
}

.list-inline {
    margin-top: 20px;
    margin-bottom: 20px;
}

footer {
    bottom: 0;
    width: 100%; /* Ocupa todo el ancho */
    background-color: #fff9e1;
    padding: 10px 0;
}


.site-logo {
    font-family: 'Cabin Sketch', cursive;
    font-weight: 700;
}

#site-header {
    background-image: url("../images/food-on-marble-countertop.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

#display-recipe,
#display-saved-recipe,
#saved-recipe {
    overflow: scroll;
}

.actions {
    cursor: pointer;
}

.recipe-link,
.recipeLink {
    color: #3273dc !important;
}

.recipe-link:hover,
.hero.is-light a:hover {
    color: #363636;
}

#map {
    height: 400px;
}

.ingredients-link {
    color: #3273dc;
}

.ingredients-link:hover {
    color: #363636;
}

#find-recipe {
    width: 100%;
}

#mon-recipe,
#tue-recipe,
#wed-recipe,
#thu-recipe,
#fri-recipe,
#sat-recipe,
#sun-recipe {
    width: 250px;
}

#mon-comment,
#tue-comment,
#wed-comment,
#thu-comment,
#fri-comment,
#sat-comment,
#sun-comment {
    width: 250px;
}

.modal-card-title,
.show-ingredients-title {
    word-wrap: break-word;
}

.ingredients-list-title {
    font-weight: 700;
}

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.card-image,
.image.is-square img,
.recipe-image {
    width: 197.766px;
    height: 197.766px;
}

.saved-recipes-card {
    margin: 0.5em 0.5em;
    padding: 0.5em 0.5em 0.5em;
}

@media screen and (min-width: 769px) {
    .hero.is-large .hero-body {
        padding-bottom: 8rem;
        padding-top: 8rem;
    }
}

@media screen and (max-width: 770px) {
    .card-image,
    .image.is-square img,
    .recipe-image {
        width: 197.766px;
        height: 197.766px;
    }

    .modal-card-head {
        font-size: 1.25em;
    }

    .modal-card {
        width: 375px;
    }
}
