#recomendaciones-section .carousel-inner .carousel-item > .d-flex {
    justify-content: center;
    min-width: 100%; 
}

#recomendaciones-section .card {
    flex: 0 0 auto;
    width: 18rem; 
}

#recomendaciones-section .carousel-control-prev, 
#recomendaciones-section .carousel-control-next {
    width: 5%; 
}

#carouselExampleControls .card-body {
    background-color: #fff; /* Fondo blanco para mayor legibilidad */
    padding: 20px; /* Añade un padding para espaciar el contenido */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Sombra suave para dar profundidad */
    margin-bottom: 10px; /* Espacio debajo de cada tarjeta */
}

#carouselExampleControls .card-title {
    color: #333; /* Color oscuro para el título para mejor contraste */
    font-weight: bold; /* Hacer el título más destacado */
    margin-bottom: 10px; /* Espacio debajo del título */
}

#carouselExampleControls .card-text {
    color: #666; 
    line-height: 1.5; 
    margin-bottom: 15px; 
}

#carouselExampleControls .btn-primary, #carouselExampleControls .btn-info {
    width: 100%; 
    margin-top: 5px; 
}

#carouselExampleControls .btn-primary {
    background-color: transparent; /* Elimina el color de fondo */
    color: #007bff; /* Mantiene el color azul por defecto para enlaces */
    border: none; /* Elimina el borde */
    padding: 0; /* Elimina el padding */
    box-shadow: none; /* Elimina cualquier sombra */
    text-decoration: underline; /* Añade subrayado para parecer un enlace */
    display: inline; /* Asegura que el enlace no ocupe todo el ancho */
    margin: 0; /* Elimina cualquier margen */
    font-weight: normal; /* Estilo de fuente normal, no negrita */
}


#carouselExampleControls .btn-info {
    color: #fff; 
    background-color: #41d46d;
    border-color: #41d46d; /
}
#recomendaciones-section h2 {
    color: #333; 
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

#meal-plan-section .table {
    width: 100%;
    border-collapse: collapse;
}

#meal-plan-section th, #meal-plan-section td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#meal-plan-section th {
    background-color: #f4f4f4;
}

#meal-plan-section .day-actions a {
    margin-right: 10px;
    text-decoration: none;
}

#meal-plan-section .has-text-success {
    color: #28a745; 
}

#meal-plan-section .has-text-warning {
    color: #ffc107; 
}

#meal-plan-section .has-text-danger {
    color: #dc3545; 
}

#meal-plan-section .is-hidden {
    display: none;
}

#meal-plan-section .recipe-link a {
    color: #007bff; 
    text-decoration: none;
}

#meal-plan-section .btn {
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    margin-left: 20px; 
}

#meal-plan-section h3 {
    margin-right: 20px; 
}


#meal-plan-section .btn:hover {
    background-color: #24996b;
}